apiVersion: v1
kind: Namespace
metadata:
  name: gramophile
---
apiVersion: v1
kind: Service
metadata:
  name: gramophile
  namespace: gramophile
  labels:
    app: gramophile
spec:
  type: NodePort
  metadata:
    labels:
      app: gramophile
  ports:
    - name: http
      port: 80
      targetPort: 8082
    - name: grpc
      port: 8080
      targetPort: 8080
    - name: metrics
      port: 8081
      targetPort: 8081
    - name: internal-grpc
      port: 8083
      targetPort: 8083
  selector:
    app: gramophile
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: gramophile
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
  namespaceSelector:
    matchNames:
      - gramophile
  selector:
    matchLabels:
      app: gramophile
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gramophile
  namespace: gramophile
spec:
  selector:
    matchLabels:
      app: gramophile
  replicas: 3
  template:
    metadata:
      labels:
        app: gramophile
    spec:
      containers:
        - name: gramophile
          image: registry.brotherlogic-backend.com/brotherlogic/gramophile:0.652.0 # {"$imagepolicy": "flux-system:gramophile"}
          ports:
            - containerPort: 8080
          env:
            - name: DISCOGS_KEY
              valueFrom:
                secretKeyRef:
                  name: discogs
                  key: discogs_key
            - name: DISCOGS_SECRET
              valueFrom:
                secretKeyRef:
                  name: discogs
                  key: discogs_secret
            - name: DISCOGS_CALLBACK
              value: "https://gramophile.brotherlogic-backend.com/callback"
      imagePullSecrets:
        - name: regcred
